body, p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px 0px #888;
  background-color: rgba(250,250,250,1);
  width: 60px;
  height: 100vh;
}
