@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
$font-stack: 'Open Sans', sans-serif;
$default-text-color: rgba(107,117,139,1);


body, p, h1, h2, h3, h4, ul, li {
  font-family: $font-stack;
  padding: 0;
  margin: 0;
}

.sidenav {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px 0px #888;
  background-color: rgba(250,250,250,1);
  width: 60px;
  height: 100vh;
  .sidenav-list {
    list-style-type: none;
    div {
      padding-top: 20px;
    }
    .sidenav-list-item {
      cursor: pointer;
      padding: 20px;
      display: flex;
      opacity: 0.54;
      font-size: 1.6em;
      justify-content: center;
    }
  }
}

.sidenav-tooltip {
  transition: opacity 0.3s ease;
  opacity: 0;
  background-color: #fff;
  height: 3em;
  padding-bottom: 4px;
  margin-left: 30px;
  position: absolute;
  box-shadow: 0px 2px 8px 0px #888;
  visibility: hidden;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
    p {
      color: $default-text-color;
      white-space: nowrap;
      font-size: 1.5em;
      padding: 10px;
      align-self: center;
    }
  .tail {
    border: 10px solid;
    border-color: transparent #fff transparent transparent;
    position:absolute;
    top: 15px;
    left: -20px;
  }
}

.content-wrapper {
  width: calc(100% - 60px);
  padding-left: 60px;
}

.modal-active-darken {
  background-color: rgba(0,0,0,.5);
  width: calc(100% - 60px);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  .modal-container {
    pointer-events: all;
    width: 60%;
    min-height: 500px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 5px 8px 10px 0px #565656;
  }
}

.volunteer-form-row {
  height: 225px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  .volunteer-form-column-55 {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .volunteer-form-column-45 {
    width: 45%;
    position: relative;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .profile-image-wrapper {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      margin-top: 10px;
      margin-bottom: -20px;
    }
  }
  .volunteer-form-column-100 {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-self: center;
    height: 150px;
    textarea {
      background-color: white;
      width: 93%;
      height: 100%;
      font-size: 1rem;
      border-radius: 2px;
      border: 1px solid #888;
      &::-webkit-input-placeholder {
        padding: 8px;
      }
    }
  }
}

.submit-modal-buttons {
  padding: 0 20px;
  transform: translateY(-15px);
  display: flex;
  flex-direction: row-reverse;
  button {
    &:first-child {
      margin-right: 15px;
    }
    margin: 0 5px;
  }
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #888;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
  transition: all .3s;
  &:focus {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
  }
}

.close-modal-x {
  position: absolute;
  font-size: 1.5em;
  top: 5px;
  right: 0px;
  cursor: pointer;
  transition: all 0.1s ease;
  &:hover {
    color: #888;
  }
}

.button, .button-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  outline: 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.button {
  text-decoration:none;
  color: white;
  background-color: $default-text-color;
  text-align: center;
  letter-spacing: .5px;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: lighten($default-text-color, 5%);
    box-shadow: 2px 2px 2px 0px #888;
  }
}

.button-flat {
  box-shadow: none;
  background-color: transparent;
  color: $default-text-color;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
  &:hover {
    color: white;
    background-color: $default-text-color;
  }
}

#map.mapbox {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: calc(100% - 60px);
}
